parameters:
    level: 8

    scanDirectories:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/benchmarks
        - %currentWorkingDirectory%/tests

    paths:
        - src
        - benchmarks
        - tests

    bootstrapFiles:
        - %currentWorkingDirectory%/stubs/ValkeyGlide.php
        - %currentWorkingDirectory%/stubs/ValkeyGlideCluster.php

    stubFiles:
        - %currentWorkingDirectory%/stubs/ValkeyGlide.php
        - %currentWorkingDirectory%/stubs/ValkeyGlideCluster.php

    excludePaths:
        analyse:
            - %currentWorkingDirectory%/stubs/*
